New User is waiting for your approval: 
%br
%br
User Name: #{@user.name}
User Eamil: #{@user.email}
%br
%br
to approve user please go to:
%br
= link_to "User Admin", admin_users_url
%br
%br
Regards,
%br
My Med Labs Call Center Team