%button.hangup{onclick: "check_rooms();"}
  check

%button.hangup{onclick: "hangup();"}
  Hangup

%input#number{name: "number", placeholder: "Enter a phone number to call", type: "text"}/

#log Loading pigeons...

%div.agent_name= "Agent name: #{current_user.name}"

%ul#people

:javascript
  var callLength;
  var currentCalller;
  Twilio.Device.setup("#{token}", {debug: true});

  Twilio.Device.ready(function (device) {
    $("#log").text("Ready");
  });

  Twilio.Device.error(function (error) {
    $("#log").text("Error: " + error.message);
  });

  Twilio.Device.connect(function (conn) {
    callLength = $.now();
    $("#log").text("Successfully established call");
  });

  Twilio.Device.disconnect(function (conn) {
    var difference = ($.now() - callLength) / 1000;
    currentCalller = "";
    $("#log").text("Call ended. Call lasted " + difference + " seconds");
  });

  Twilio.Device.incoming(function (conn) {
    $("#log").text("Incoming connection from " + conn.parameters.From);

    var r = confirm("Incoming call. Accept?");
    if (r == true) {
      currentCalller = conn.parameters.From;
      conn.accept();  
    } else {
      conn.disconnect(); 
    }    
  });

  Twilio.Device.presence(function (pres) {
    if (pres.available) {
      // create an item for the client that became available
      $("<li>", {id: pres.from, text: pres.from}).click(function () {
        conference(pres.from, currentCalller);
      }).prependTo("#people");
    }
    else {
      // find the item by client name and remove it
      $("#" + pres.from).remove();
    }
  });

  function conference(name, number) {
    $.post("http://my-med-labs-call-center.herokuapp.com/init_conference", { agent: name, from: number } );

    $.post("http://my-med-labs-call-center.herokuapp.com/conference", function(data) {
    });
  }

  function check_rooms() {
    $.post("http://my-med-labs-call-center.herokuapp.com/check_rooms", function(data) {

    });
  }

  function hangup() {
    Twilio.Device.disconnectAll();
  }
