%h2 Active Users
%table.table.table-striped
  %tr
    %th Name
    %th Email
    %th Actions
  = render partial: "/admin/users/user", collection: @active_users, as: :user
%hr
%h2 InActive Users
%table.table.table-striped
  %tr
    %th Name
    %th Email
    %th Actions
  = render partial: "/admin/users/user", collection: @inactive_users
